<main class="wrapper">
  {{app-navigation}}

  {{app-header}}

  {{section-getting-started tagName="section" class="container" id="getting-started"}}
  {{section-typography tagName="section" class="container" id="typography"}}
  {{section-blockquotes tagName="section" class="container" id="blockquotes"}}
  {{section-buttons tagName="section" class="container" id="buttons"}}
  {{section-lists tagName="section" class="container" id="lists"}}
  {{section-forms tagName="section" class="container" id="forms"}}
  {{section-tables tagName="section" class="container" id="tables"}}
  {{section-grids tagName="section" class="container" id="grids"}}
  {{section-codes tagName="section" class="container" id="codes"}}
  {{section-utilities tagName="section" class="container" id="utilities"}}
  {{section-tips tagName="section" class="container" id="tips"}}
  {{section-browser-support tagName="section" class="container" id="browser-support"}}

  {{app-footer}}
</main>